/*Big tablet to 1200px */
@media only screen and (max-width: 1200px){
    html{
        font-size: 16px;
    }
    .button{
        margin-left: 10%;
    }
    .p-long{
        font-size: 110%;
    }
    header{
        height: 35vh;
    }
    .about-section{
        height: 65vh;
    }
    .education-section{
        height: 45vh;
    }
    .work-section{
        height: 65vh;
    }
    .work-section .product-box{
        font-size: 100%;
        height: 45vh;
    }
    .work-section ul{
        transform: translate(-5%,0);
    }
    .project-section .product-box{
        font-size: 100%;
        width: 95%;
        height: 45vh;
    }
    .product-box .button{
        transform: translateX(8%);
    }
    .project-section ul{
        transform: translateX(-5%);
    }
    .contact-section{
        height: 90vh;
    }
    .contact-section form{
        width: 100%;
        transform: translateX(2%);
    }
    .contact-section .button{
        transform: translateX(-13%);
    }
}

/*Small tablet to big tablet from 768px to 1023px*/
@media only screen and (max-width: 1023px){
    html{
        font-size: 14px;
    }
    header{
        height: 30vh;
    }
    header .main-nav{
        height: 4vh;
    }
    header .avatar{
        transform: scale(.9);
    }
    header .heading-main-box{
        font-size: 100%;
        transform: translateX(-5%);
        margin-top: 40px;
    }
    header .button{
        width: 75%;
        transform: translateX(-15%);
    }
    .about-section{
        height: 50vh;
    }
    .p-long{
        font-size: 110%;
    }
    .education-section{
        height: 30vh;
    }
    h2{
        font-size: 150%;
    }
    h3 {
        font-size: 90%;
    }
    .work-section ul{
        transform: translate(-10%,0);
    }
    .project-section{
        height: 60vh;
    }
    .project-section .product-box{
        height: 40vh;
    }
    .project-section ul{
        transform: translate(-10%,0);
    }
    .social-icon{
        transform: scale(1.3);
    }
    .contact-section{
        height: 80vh;
    }
    .contact-section form{
        width: 120%;
        transform: translateX(-7%);
    }
}

/*Small phones to small tablets from 481px to 767px*/
@media only screen and (max-width: 767px){
    html{
        font-size: 10px;
    }
    .col.span_1_of_2{
        width: 100%;
    }
    header{
        height: 40vh;
    }
    header .main-nav{
        font-size: 150%;
    }
    header .avatar{
        transform: scale(.9);
        float: left;
        margin-top: 0%;
        margin-left: 28%;
    }
    header .heading-main-box{
        font-size: 100%;
        margin-top: 0%;
        margin-left: 14%;
        text-align: center;
        transform: translateX(-10%);
    }
    header .button{
        width: 50%;
        transform: translateX(-10%);
    }
    h2{
        font-size: 200%;
    }
    .about-section{
        height: 35vh;
    }
    .about-section .p-long{
        display: none;
    }
    .about-section ul{
        font-size: 110%;
    }
    .education-section{
        height: 30vh;
    }
    .education-section .p-long{
        font-size: 150%;
    }
    .work-section{
        height: 110vh;
    }
    .product-box{
        margin-bottom: 20px;
    }
    .work-section h3{
        font-size: 130%;
    }
    .work-section li{
        font-size: 150%;
    }
    .project-section{
        height: 100vh;
    }
    .project-section h3{
        font-size: 130%;
    }
    .project-section li{
        font-size: 150%;
    }
    .project-section .product-box{
        width: 100%;
    }
    .product-box .button{
        font-size: 120%;
    }
    .contact-section{
        height: 80vh;
    }
    .contact-section form{
        width: 150%;
        transform: translateX(-13%);
    }
    input{
        height: 20px;
    }
    textarea{
        height: 80px;
    }
}

/*Small phones from 0 to 480px*/
@media only screen and (max-width: 480px){
    html{
        font-size: 10px;
    }
    header{
        height: 50vh;
    }
    header .avatar{
        transform: scale(1.0));
        margin-left: 20%;
        margin-top: 15%;
    }
    header .heading-main-box{
        margin-top: 0%;
        margin-left: 10%;
    }
    header .heading-main-box h1{
        font-size: 110%;
        transform: translateX(10%);
    }
    header .main-nav{
        display: none;
    }
    header .button{
        width: 70%;
        transform: translateX(5%);
    }
    h2{
        font-size: 150%;
    }
    .col.span_1_of_3{
        width: 100%;
    }
    .about-section{
        height: 110vh;
    }
    .about-section h2{
        font-size: 160%;
    }
    .about-section ul{
        font-size: 120%;
    }
    .education-section{
        height: 50vh;
    }
    .p-long{
        width: 200%;
        transform: translateX(-25%);
    }
    .gpa-bar{
        width: 120%;
        transform: translateX(-25%);
        margin-top: 40px;
    }
    .work-section{
        height: 150vh;
    }
    .work-section .product-box{
        height: 60vh;
        width: 150%;
        transform: translateX(-15%);
    }
    .project-section{
        height: 130vh;
    }
    .project-section .product-box{
        height: 50vh;
        width: 150%;
        transform: translateX(-15%);
    }
    .information{
        width: 200%;
        transform: translateX(-25%);
    }
    .social-icon{
        width: 150%;
        transform: scale(1.0);
        transform: translateX(-20%);
    }
    .contact-section{
        height: 100vh;
    }
    .contact-section form{
        transform: translateX(-15%);
    }
    textarea{
        font-size: 10px;
    }
}
