/*---------------------------------------------------------*/
/*------------------------DEFAULT---------------------------*/
/*---------------------------------------------------------*/

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    max-width: 1920px;
}

html{
    font-family: Georgia, sans-serif, Times, serif;
    font-size: 20px;
    color: #000000;
    background-color: #817f7f;
    text-rendering: optimizeLegibility;
}

body{
    overflow-x: hidden;
}

/*----------------------------------------------------------*/
/*-----------------------REUSEABLE--------------------------*/
/*----------------------------------------------------------*/

.button{
    text-decoration: none;
    color: #000000;
    background-color: #eeeeee;
    padding: 15px 30px;
    border-radius: 20px;
    width: 200px;
    display: inline-block;
    text-align: center;
    transition: all .5s;
}

.button:hover,
.button:active{
    background-color: #df0e0e;
    color: #ffffff;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.row{
    max-width: 80%;
    margin: 0 auto;
}

h1, h2, h3{
    text-transform: uppercase;
    letter-spacing: 2px;
}

h1{
    font-size: 300%;
    font-weight: 700;
    color: #ffffff;
    line-height: 150%;
    margin-bottom: 20px;
}

h2{
    color: #000000;
    text-decoration: underline;
    font-size: 180%;
    font-weight: 700;
    text-align: center;
    margin-bottom: 10px;
}

h3{
    padding-top: 30px;
    padding-bottom: 10px;
    text-align: center;
    color: #ffffff;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    margin-bottom: 20px;
}

.p-long{
    text-align: center;
    color: #000000;
    font-size: 22px;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 90%;
    margin-left: 5%;
    line-height: 40%;
}

section{
    padding: 70px;
    height: 800px;
}

.grid-container{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 5px;
    max-width: 80%;
    padding: 10px;    
}

.grid-container-1-of-3{
    grid-column-start: 1;
    grid-column-end: 2;
    text-align: right;
}

.grid-container-2-of-3{
    grid-column-start: 2;
    grid-column-end: 4;
    text-align: left;
}

.grid-container-3-of-3{
    grid-column-start: 1;
    grid-column-end: 4;
    text-align: center;
}

.small-icon{
    color: #df0e0e;
    margin-right: 15px;
}
/*----------------------------------------------------------*/
/*-------------------------HEADER---------------------------*/
/*----------------------------------------------------------*/

header{
    height: 40vh; /*view height*/
    background-color: #000000;
}

.main-nav{
    width: 100%;
    height: 6vh;
    float: left;
    font-size: 120%;
    background-color: #f7f7f7;
    text-align: center;
}

.main-nav li{
    display: inline-block;
    margin-top: 15px;
}

.main-nav li a{
    text-decoration: none;
    color: #000000;
    font-size: 80%;
    font-weight: 100;
    transition: all 300ms;
    padding: 20px;
}

.main-nav li a:hover,
.main-nav li a:active{
    font-size: 90%;
    color: #df0e0e;
}

.avatar{
    float: right;
    margin-right: 15%;
    margin-top: 3%;
    border-radius: 60%;
}

.heading-main-box{
    position: absolute;
    float: left;
    margin-top: 3%;
    transform: translateX(-15%);
    text-align: left;
}

.heading-main-box h1{
    font-size: 150%;
}

/*-------------------------------------------------------------*/
/*--------------------ABOUT SECTION----------------------------*/
/*-------------------------------------------------------------*/

.about-section{
    background-color: #f7f7f7;
}

.about-picture{
    position: relative;
    text-align: center;
}

.about-picture img{
    width: 50%;
    border-radius: 15%;
    box-shadow: 20px 20px 50px -10px #777777; /*x-y-do mo, phong, rong mau*/
    transition: all .5s;
    margin-bottom: 10px;
    margin-top: 30px;
}

.about-picture:hover img,
.about-picture:active img{
    filter: brightness(60%) blur(5px);
}

.about-picture:hover .picture-title,
.about-picture:active .pictur-title{
    transform: translate(-50%, -20%);
    opacity: 1;
}

.about-section .picture-title{
    position: absolute;
    font-size: 100%;    
    top: 120%;
    left: 50%;
    transform: translate(-50%, -20%);
    opacity: 0;
    transition: all .5s;
}

.about-section{
    margin-bottom: 0px;
}

/*----------------------------------------------------------*/
/*------------------------EDUCATION-------------------------*/
/*----------------------------------------------------------*/

.education-section{
    background-color: #000000;
    height: 50vh;
}

.education-section h2{
    color: #ffffff;
}

.education-section .p-long{
    color: #ffffff;
    transition: all 500ms;
}

.education-section .p-long:hover,
.education-section .p-long:active{
    transform: translate(5%,5%);
}

.gpa-bar{
    display: block;
    text-align: left;
    margin-left: 25%;
    background-color: #ffffff;
    border-radius: 15px;
    width: 50%;
}

.gpa-bar-89{
    width: 89%;
    background-color: #df0e0e;
    transition: all 300ms;
}

.gpa-bar:hover,
.gpa-bar:active{
    transform: scale(1.2);
}

/*----------------------------------------------------------*/
/*------------------------WORK EX---------------------------*/
/*----------------------------------------------------------*/

.work-section{
    background-color: #f7f7f7;
    height: 60vh;
}

.work-section .row{
    text-align: center;
}

.work-section h2{
    margin-bottom: 30px;
}

.product-box{
    background-color: #d6d6d6;
    width: 90%;
    height: 380px;
    box-shadow: 3px 5px 10px #f7f7f7;
    border-radius: 20px;
}

.product-box h3{
    color: #000000;
    margin-bottom: 40px;
}

.product-price span{
    font-size: 80%;
    font-weight: 300;
}

.product-box ul li{
    text-align: initial;
    margin-left: 50px;
    list-style: none;
    margin-bottom: 20px;
    margin-top: 20px;
}

.product-box button{
    position: absolute;
}

.work-sectionn li{
    transition: all 300ms;
}

.work-section li:hover,
.work-section li:active{
    transform: translate(-5%,0%);
}

/*----------------------------------------------------------*/
/*------------------------PROJECT---------------------------*/
/*----------------------------------------------------------*/

.project-section{
    background-color: #000000;
    height: 65vh;
}

.project-section h2{
    color: #ffffff;
    margin-bottom: 30px;
}

.project-section .row .p-long{
    height: 20vh;
}

.project-section li{
    transition: all 300ms;
}

.project-section li:hover,
.project-section li:active{
    transform: translate(-5%,0%);
}


/*----------------------------------------------------------*/
/*------------------------CONTACT---------------------------*/
/*----------------------------------------------------------*/

.contact-section{
    background-color: #f7f7f7;
    height: 100vh;
}

.contact-section .row{
    text-align: center;
}

.information{
    list-style: none;
    color: #000000;
    line-height: 200%;
    margin-top: 70px;
    word-spacing: 1px;
    font-size: 120%;
}

.information .small-icon{
    color: #000000;
}

.information .small-icon:hover,
.information .small-icon:active{
    transform: scale(1.5);
    color: #df0e0e;
}

.social-icon{
    margin-top: 50px;
    list-style: none;
}

.social-icon li{
    display: inline-block;
    font-size: 250%;
    margin-left: 20px;
    color: #000000;
    transition: all .5s;
    cursor: pointer;
}

.social-icon li:hover,
.social-icon li:active{
    transform: scale(1.5);
    color: #df0e0e;
}

/*------------form------*/
form{
    background-color: #f7f7f7;
    margin-left: none;
    margin-top: 50px;
    height: 40vh;
    width: 60%;
    transform: translateX(35%);
    padding: 20px;
    border-radius: 5px;
}

label{
    font-size: 150%;
    padding: 20px;
}

input, textarea{
    outline: none;
    padding: 10px;
    background-color: rgba(110, 110, 110, 0.5);
    border: rgba(168, 167, 167, 0.5);
    width: 100%;
    cursor: pointer;
    border-radius: 10px;
    margin-bottom: 15px;
}

textarea{
    resize: none;
    height: 100px;
}

input{
    height: 50px;
}

input[type=submit]{
    font-weight: 700;
    font-size: 90%;
    border-radius: 10px;
    width: 70%;
    margin-right: 65px;
}

input[type=text], input[type=email], textarea{
    width: 90%;
    font-size: 70%;
}

input[type=text]:focus, input[type=email]:focus, textarea:focus{
    color: white;
    background-color: rgba(194, 185, 185, 0.5);
    transition: .3s;
}

/*----------------------------------------------------------*/
/*------------------------FOOTER----------------------------*/
/*----------------------------------------------------------*/
footer{
    text-align: center;
    background-color: #000000;
    color: #ffffff;
    padding: 20px;
}